@import url('https://fonts.googleapis.com/css2?family=Norican&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

body{
    font-family: Roboto, sans-serif;
    color:#3a3a3a;
}

h1, h2{
    font-family: Norican, cursive;
    color: #3a3a3a;
}


/* menu */

#menu {
    font-size: 120%;
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}